footer {
    background-color: #353535;
}

.footer_menu, #footer_accueil {
    width: 95%;
    padding-left: 5%;
}

#footer_logo {
    width: 150px;
    filter: invert(1);
    margin: 15px;
    margin-top: 25px;
}

.footer_icons {
    display: flex;
}

.fa-utensils {
    margin-right: 12px;
    margin-left: 2px;
}

.fa-hands-helping {
    margin-right: 7px;
}

.fa-utensils, .fa-hands-helping {
    filter: invert(1);
    margin-top: 5px;
}

.footer_text {
    color: white;
    margin: 0px;
    padding-top: 7px;
}

.footer_menu {
    position: absolute;
    top: 1580px;
    &_top {
        top: 1670px;
    }
}

@media screen and (min-width: 767px) {

    .footer_menu {
        top: 1580px;
        &_top {
            top: 1670px;
        }
    }
}

@media screen and (min-width: 1100px) {

    .footer_menu {
        top: 840px;
    }

    .footer_menu_top {
        top: 940px;
    }
}