#logo {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.fa-arrow-left {
    position: absolute;
    font-size: 20px;
    top: 15px;
    margin-left: 10px;
}

.top_img {
    width: 100%;
}

.top_img_desktop {
    display: none;
}

@media screen and (min-width: 600px) {

    .fa-arrow-left {
        font-size: 25px;
        top: 25px;
    }
}

@media screen and (min-width: 1025px) {

    #logo {
        width: 25%;
    }

    .fa-arrow-left {
        font-size: 35px;
        top: 30px;
    }

    .top_img {
        display: none;
    }

    .top_img_desktop {
        display: initial;
        width: 100%;
    }
}