@font-face {
    font-family: 'robotoregular';
    src: url('polices/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('polices/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'shrikhandregular';
    src: url('polices/webfontkit-Shrikhandregular/shrikhand-regular-webfont.woff2') format('woff2'),
         url('polices/webfontkit-Shrikhandregular/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
