#background_search {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d2cbcb;
    box-shadow: inset 0px 1px 1px 0px rgb(156 156 156);
}

#recherche
{
    margin-left: 100px;
    text-align: center;
}

#barre {
    border: 0px solid white;
    padding-left: 15px;
    background-color: #d2cbcb;
}

#background_title {
    background-color: #eae6e6;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.text_center {
    text-align: center;
    margin-bottom: 35px;
}
nav {
    padding-bottom: 30px;
    padding-top: 20px;
}

.number {
    color: white;
    font-size: 12px;
    position: absolute;
    margin-left: 25px;
    border: 1px solid $colour-primary;
    background-color: $colour-primary;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 20px;
}

.flex_nav {
    display: flex;
    border: 1px;
    margin: 20px;
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 10px 0px #6f6f6f;
    background-color: #eae6e6
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
    padding-top: 23px;
    color: grey;
    margin-right: 30px;
    margin-left: 35px;
}

.bold_text {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (min-width: 376px) {


    #nav_responsive {
        display: flex;
    }

    .flex_nav {
        margin: 20px;
    }

    .bold_text {
        text-align: center;
        padding-right: 30px;
    }

    .fa-mobile-alt, .fa-list-ul, .fa-store {
        padding-top: 30px;
        margin-right: 10px;
    }

    #margin_number {
        margin-top: 50px;
        margin-left: 5px;
    }

    #num2_responsive {
        left: 235px;
        margin-top: 50px;
    }

    #num3_responsive {
        right: 230px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 769px) {

    #nav_responsive {
        display: flex;
    }

    #margin_number {
        margin-left: 5px;
    }

    #margin_number, #num2_responsive, #num3_responsive {
        margin-top: 40px;
    }

    #num2_responsive {
        left: 320px;
    }

    #num3_responsive {
        right: 315px;
    }

    .fa-mobile-alt, .fa-list-ul, .fa-store {
        padding-top: 21px;
    }
}

@media screen and (min-width: 1025px) {

    #nav_responsive {
        display: flex;
        justify-content: space-around;
    }

    #margin_number {
        left: 145px;
    }

    #num2_responsive {
        left: 760px;
    }

    #num3_responsive {
        right: 460px;
    }
}