.div_menu {
    border: 1px;
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    box-shadow: 0px 5px 10px 1px #d4d4d4;
}

.text_label {
    position: absolute;
    margin-left: 220px;
    color: #388863;
    border: 1px;
    background-color: $colour-tertiary;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;
}

.store_text {
    position: relative;
}

.fa-heart {
    position: absolute;
    right: 30px;
    font-size: 25px;
    margin-top: 10px;
        &:hover {
            color: $colour-primary;
        }
}

.store_title {
    font-weight: bold;
    margin: 0px;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 18px;
}

.district_text {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}


@media screen and (min-width: 600px) {

    .restaurants_responsive {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 769px) {

    .restaurants_responsive {
        display: flex;
        justify-content: space-around;
    }  
}

@media screen and (min-width: 1280px) {

    .div_menu {
        margin: 10px;
    }

    #restaurants_desktop {
        display: flex;
        justify-content: space-around;
        width: 1250px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 2000px) {

    .div_menu {
        margin: 75px;
    }
}